/MultimodalPlantClassifier/WorkspaceSettings.xcsettings
/MultimodalPlantClassifier/UserInterfaceState.xcuserstate
/MultimodalPlantClassifier/Breakpoints_v2.xcbkptlist
/MultimodalPlantClassifier/xcschememanagement.plist
/MultimodalPlantClassifier.xcodeproj/xcuserdata/**

